@charset "utf-8";
/* CSS Document */
div.header
{
	width: 450px;
	height:450px;
	background-color:#1E231F;
	position:absolute;
	top:170px;
    right:975px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 4px 4px 6px black;
}
.register
{
	position:absolute;
	top:200px;
	right:1070px;
}
.register td{
	font-size:large;
	font-family:'Lucida Grande';
	color:white;
}